@charset 'UTF-8';

/* ------------------------------------------------------------------- IMPORT */

@import 'colors';
@import 'mixin';

/* ------------------- IMPORT - Librairie JS pour afficher du code en couleur */
@import 'codeMirror';

/* ------------------------------------------------------------------- RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------------------------------------------------- BASE */

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat',
  sans-serif;
  /* valeur par défaut sur tout les navigateurs */
  font-size: 16px;
}
::selection {
  background-color: $secondary;
  color: $light;
}

/* ---------------------------------------------------- CONFIGURATION GENERAL */
body {
  background-color: $dark;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 54px 1fr;
  grid-template-areas:
    "header"
    "main"
  ;
}

/* ------------------------------------------------------------- TAGS GENERAL */

h1,
h2,
h3,
h4 {
  font-family: 'Sansita Swashed', cursive;
  text-transform: capitalize;

  /* utilisation mixin */
  @include text-shadow(darken($dark, 20%));
}
h2 {
  color: $light;
  font-size: 3rem;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid;
  text-shadow: 2px 2px 4px $dark;
}
h3 {
  color: $secondary;
  font-size: 2.2rem;
  margin: 1.2rem 0;
}
h4 {
  color: $light;
  margin-bottom: 10px;
  text-align: center;
}
hr {
  min-width: 80vw;
}
p {
  letter-spacing: 2.2px;
  padding: 5px 20px 20px;
  white-space: pre-line;
  color: $light
}
b,
strong {
  color: $gold;
}
dl {
  max-width: 35rem;
  border-radius: 0 20px 20px 0;
  border: 2px dashed $secondary;
  margin: 1rem 1rem 4rem;
  padding: 1rem 0 1rem 2rem;
  background-color: $primary;

  dt {
    color: $light;
    font-weight: 700;
    text-transform: uppercase;
  }

  dd {
    padding-top: 0.5rem;
    padding-left: 2rem;
    color: $light;

    span:first-child {
      color: lighten($secondary, 40%);
    }

    span:nth-child(2) {
      color: lighten($green, 40%);
    }

    span:last-child {
      color: lighten($green, 10%);
    }
  }
}

blockquote {
  margin: 1rem 0 1rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: $light;
  background-color: $dark;

  span {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 2rem;
    vertical-align: middle;
    background-color: lighten($dark, 10%);
    color: $blue;
  }
  b {
    text-decoration: underline;
  }
}

article.pause {
  text-align: center;
  border-top: 4px solid $light;
  border-bottom: 4px solid $light;
  background-image: url("../images/cafe.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  h2 {
    border: none;
  }
}

/* ------------------------------------------------------------------- HEADER */

header {
  grid-area: header;
  z-index: 9999;
  background-color: darken($primary, 5%);
  position: fixed;
  min-width: 100%;
  box-shadow: 2px 0 5px $secondary;
  border-bottom: 4px solid $light;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  >a {
    color: $light;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: lighten($gold, 20%);
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      li {
        line-height: 54px;
        a {
          font-size: 1rem;
          font-weight: 600;
          color: $light;
          padding: 0 10px;
          text-decoration: none;
          display: inline-block;
          transition: background-color 0.5s ease-out, color 0.8s ease-out;

          &:hover {
            background-color: lighten($gold, 20%);
            color: $secondary;
            transition: background-color 0.5s ease-in, color 0.8s ease-in;
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------------------- MAIN */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "presentation presentation presentation"
  "menu container container"
  "menu footer footer"
  ;

  /* --------------------------------------------------- SECTION PRESENTATION */
  .presentation {
    grid-area: presentation;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      color: $dark;
      text-align: center;
      font-size: 7rem;

      /* utilisation mixin */
      @include text-shadow(darken($light, 10%));
    }

    >.text-flow {
      text-align: center;
      letter-spacing: 2.2px;
      color: $light;
      font-size: 1.4rem !important;
      max-width: 55vw;
    }
  }

  /* ----------------------------------------------------------- SECTION MENU */
  #menu {
    grid-area: menu;
    max-width: 100%;
    background-color: darken($dark, 10%);
    border-right: 4px solid $light;
    padding: 1rem;
    position: sticky;
    top: 0;

    h3 {
      position: sticky;
      top: 70px;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 2px solid $secondary;
    }
    nav {
      margin-top: 2rem;
      position: sticky;
      top: 150px;

      ol {
        color: $light;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.3em;
          transition: background-color 0.4s ease-out;
          span {
            padding: 0 1rem;
          }
          a {
            font-size: 1rem;
            color: lighten($dark, 40%);
            text-decoration: none;
            display: block;
            min-width: 100%;
          }
          &:hover {
            cursor: pointer;
            background-color: lighten($primary, 40%);
            transition: background-color 0.4s ease-in;

            a {
              color: $dark;
            }
          }
        }
        ol {
          padding: 0.5rem 1rem;
          display: none;
        }
      }
    }

  }

  /* ------------------------------------------------------ SECTION CONTAINER */

  .container {
    grid-area: container;
    border: none;
    .base {
      article.base__element {
        padding: 10rem 10rem;
        margin: 0;
        &:nth-child(odd) {
          background-color: $dark-alt;
          dl {
            color: $light;
            background-color: $dark;
          }
        }
        &:nth-child(even) {
          background-color: $dark;
        }
        section {
          &:nth-child(1n) {
            padding-top: 8rem;
            text-decoration-color: $light;
          }
          &:first-child {
            margin-top: 1rem !important;
          }
          p {
            margin: 1rem;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}



#menu li#base+ol,
#menu li#positionnement+ol,
#menu li#zone+ol,
#menu li#gutters+ol {
  display: block;
}

/* compteur */
section {
  &#base {
    counter-reset: article_base;
    article {
      counter-increment: article_base;
      h2 {
        /* J'affiche le compteur définit dans le body */
        &::before {
          content: "1."counter(article_base) " - ";
        }
      }
    }
  }
  &#positionnement {
    counter-reset: article_positionnement;
    article {
      counter-increment: article_positionnement;
      h2 {
        &:before {
          content: "2."counter(article_positionnement) " - ";
        }
      }
    }
  }
  &#zone {
    counter-reset: article_zone;
    article {
      counter-increment: article_zone;
      h2 {
        &:before {
          content: "3."counter(article_zone) " - ";
        }
      }
    }
  }
  &#gutters {
    counter-reset: article_gutters;
    article {
      counter-increment: article_gutters;
      h2 {
        &:before {
          content: "4."counter(article_gutters) " - ";
        }
      }
    }
  }
}

/* ------------------------------------------------------------------- FOOTER */
footer {
  grid-area: footer;
  min-height: 150px;
  background-color: $secondary;
  color: $light;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: center;
  line-height: 75px;

  ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0 20px;
      font-size: 3rem;
      }
      }

      span {
        q {
          b {
            color: darken($primary, 5%);
          }
    }
  }
}
