.CodeMirror {
  height: auto!important; /* Évite le scroll dans code mirror */
  font-size: 1rem;
}

/* ----------------------------------------------- Formulaire dans CODEMIRROR */

form {
  width: 90%;
  margin: 2rem 0 2rem 2rem;
  border: 10px ridge lighten($secondary, 50%);
  box-shadow: 0 5px 2px $dark;
  position: relative; /* pour le petit bandeau "code html" ou "code css" */
}

/* bandeau "code html" ou "code css" */
form > span {
  display: inline-block;
  background-color: $secondary;
  border-left: solid 2px lighten($secondary, 50%);
  border-top: solid 2px lighten($secondary, 50%);
  border-bottom: solid 2px lighten($secondary, 50%);
  min-width: 50px;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 2;
  color: $light;
  border-radius: 10px 0 0 10px;
  text-shadow: -0.5px 0.5px $primary;
  animation: enter 0.5s ease-in;
}

@keyframes enter {
  from {
    right: -900px;
    opacity: 0;
  }
  to {
    right: -4px;
    opacity: 0.6;
  }
}
