/* couleurs principal */
$primary: darken(#644021, 10%);
$secondary: lighten(#644021, 10%);

/* couleurs */
$dark: #1e1e1e;
$light: #f1f1f1;

$blue: #75b7d1;
$purple: #827AD3;
$red: #cf2727;
$green: #53d47c;
$pink: #d38caf;
$yellow: #f3e412;
$gold: #d6b06a;
$brown: #cf8207;

/* couleurs alternative */
$dark-alt: $primary;
$light-alt: darken($light, 20%);

/* couleurs d'éléments spécifique */
$container: $dark;

/* ombres */
$shadow: $dark;

/* couleurs des blocs */
$block-1: $blue;
$block-2: $purple;
$block-3: $red;
$block-4: $green;
$block-5: $pink;
$block-6: $gold;
$block-7: $brown;
$block-8: darken($blue, 20%);

/* Couleurs Icônes font-Awesome */
.fa-html5 {
  color: orangered;
}
.fa-css3-alt {
  color: $blue;
}
.fa-js {
  color: $yellow;
}
.fa-sass {
  color: $pink
}