@import 'base';

/* ------------------------------------------------ Couleur de fond container */
.container {
  background-color: $container;
  border: 2px solid $light;
}

/* ------------------------------------------------------- contenu du block-x */
.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8 {
  font-size: 1.4em;
  letter-spacing: 0.3px;
  border: 2px solid $light;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  b {
    color: $dark;
  }
}

/* ------------------------------------------------------ couleurs containers */
.block {
  background-color: $container;
  border: 2px solid $shadow;

  &-1 { background-color: $block-1; }
  &-2 { background-color: $block-2; }
  &-3 { background-color: $block-3; }
  &-4 { background-color: $block-4; }
  &-5 { background-color: $block-5; }
  &-6 { background-color: $block-6; }
  &-7 { background-color: $block-7; }
  &-8 { background-color: $block-8; }
}

/* ----------------------------------------------------------- 1 GRID SYSTEM */

/* 1. display grid */
.container.display-grid .block-1,
.container.display-grid .block-2 {
  display: grid;
  margin: 1em;
}

/* ---------------------------------------------- 1.2. GRID-TEMPLATE-COLUMNS */

/* 1.2.1. grid-template-columns "pixel" */
.grid-template-columns-1 {
  display: grid;
  grid-template-columns: 60px 120px 180px 120px 60px;
}

/* 1.2.2. grid-template-columns "pourcentage" */
.grid-template-columns-2 {
  display: grid;
  grid-template-columns: 25% 50% 15%;
}

/* 1.2.3. grid-template-columns: "fraction" */
.grid-template-columns-3 {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 1fr;
}

/* 1.2.4. grid-template-columns "repeat()" */
.grid-template-columns-4 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* 1.2.5. grid-template-columns "mixte de tout" */
.grid-template-columns-5 {
  display: grid;
  grid-template-columns: 15% repeat(2, 1fr) 2fr 60px
}

/* ---------------------------------------------- 1.3. GRID-TEMPLATE-ROWS */

/* 1.3.1. grid-template-rows "pixel" */
.grid-template-rows-1 {
  display: grid;
  grid-template-rows: 50px 70px 50px 70px 50px;
}

/* 1.3.2. grid-template-rows "pourcentage" */
.grid-template-rows-2 {
  display: grid;
  grid-template-rows: 25% 25% 20% 20%;
}

/* 1.3.3. grid-template-rows "fraction" */
.grid-template-rows-3 {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

/* 1.3.4. grid-template-rows "repeat()" */
.grid-template-rows-4 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

/* 1.3.5. grid-template-rows "mixte de tout" */
.grid-template-rows-5 {
  display: grid;
  grid-template-rows: 100px repeat(2, 70px) 1fr 10%;
}

/* ------------------------------------------------------- 1.4. GRID-TEMPLATE */


/* les bases 1.4-1. grid-template "exemple 1" */
.grid-template-1 {
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 2fr 1fr;
}

/* les bases 1.4-2. grid-template "exemple 2" */
.grid-template-2 {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(6, 1fr);
}

/* ---------------------------------------------------------------- 1.5. GRID */


/* les bases 1.5-1. grid "exemple 1" */
.grid-1 {
  height: 200px;
  display: grid;
  grid: 120px 1fr / 25% 50% 25%;
}

/* les bases 1.5-2. grid "exemple 2" */
.grid-2 {
  display: grid;
  grid: repeat(3, 100px) / 200px repeat(3, 1fr);
}
