@charset "UTF-8";
/* ------------------------------------------------------------------- IMPORT */
/* couleurs principal */
/* couleurs */
/* couleurs alternative */
/* couleurs d'éléments spécifique */
/* ombres */
/* couleurs des blocs */
/* Couleurs Icônes font-Awesome */
.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: #75b7d1;
}

.fa-js {
  color: #f3e412;
}

.fa-sass {
  color: #d38caf;
}

/* ------------------- IMPORT - Librairie JS pour afficher du code en couleur */
.CodeMirror {
  height: auto !important;
  /* Évite le scroll dans code mirror */
  font-size: 1rem;
}

/* ----------------------------------------------- Formulaire dans CODEMIRROR */
form {
  width: 90%;
  margin: 2rem 0 2rem 2rem;
  border: 10px ridge #eddaca;
  -webkit-box-shadow: 0 5px 2px #1e1e1e;
          box-shadow: 0 5px 2px #1e1e1e;
  position: relative;
  /* pour le petit bandeau "code html" ou "code css" */
}

/* bandeau "code html" ou "code css" */
form > span {
  display: inline-block;
  background-color: #8a592e;
  border-left: solid 2px #eddaca;
  border-top: solid 2px #eddaca;
  border-bottom: solid 2px #eddaca;
  min-width: 50px;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 2;
  color: #f1f1f1;
  border-radius: 10px 0 0 10px;
  text-shadow: -0.5px 0.5px #3e2714;
  -webkit-animation: enter 0.5s ease-in;
          animation: enter 0.5s ease-in;
}

@-webkit-keyframes enter {
  from {
    right: -900px;
    opacity: 0;
  }
  to {
    right: -4px;
    opacity: 0.6;
  }
}

@keyframes enter {
  from {
    right: -900px;
    opacity: 0;
  }
  to {
    right: -4px;
    opacity: 0.6;
  }
}

/* ------------------------------------------------------------------- RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --------------------------------------------------------------------- BASE */
html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  /* valeur par défaut sur tout les navigateurs */
  font-size: 16px;
}

::-moz-selection {
  background-color: #8a592e;
  color: #f1f1f1;
}

::selection {
  background-color: #8a592e;
  color: #f1f1f1;
}

/* ---------------------------------------------------- CONFIGURATION GENERAL */
body {
  background-color: #1e1e1e;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 54px 1fr;
      grid-template-rows: 54px 1fr;
      grid-template-areas: "header" "main";
}

/* ------------------------------------------------------------- TAGS GENERAL */
h1,
h2,
h3,
h4 {
  font-family: 'Sansita Swashed', cursive;
  text-transform: capitalize;
  /* utilisation mixin */
  -webkit-filter: drop-shadow(1px 1px 3px black);
          filter: drop-shadow(1px 1px 3px black);
}

h2 {
  color: #f1f1f1;
  font-size: 3rem;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid;
  text-shadow: 2px 2px 4px #1e1e1e;
}

h3 {
  color: #8a592e;
  font-size: 2.2rem;
  margin: 1.2rem 0;
}

h4 {
  color: #f1f1f1;
  margin-bottom: 10px;
  text-align: center;
}

hr {
  min-width: 80vw;
}

p {
  letter-spacing: 2.2px;
  padding: 5px 20px 20px;
  white-space: pre-line;
  color: #f1f1f1;
}

b,
strong {
  color: #d6b06a;
}

dl {
  max-width: 35rem;
  border-radius: 0 20px 20px 0;
  border: 2px dashed #8a592e;
  margin: 1rem 1rem 4rem;
  padding: 1rem 0 1rem 2rem;
  background-color: #3e2714;
}

dl dt {
  color: #f1f1f1;
  font-weight: 700;
  text-transform: uppercase;
}

dl dd {
  padding-top: 0.5rem;
  padding-left: 2rem;
  color: #f1f1f1;
}

dl dd span:first-child {
  color: #e1c0a3;
}

dl dd span:nth-child(2) {
  color: #f6fdf8;
}

dl dd span:last-child {
  color: #7cde9b;
}

blockquote {
  margin: 1rem 0 1rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: #f1f1f1;
  background-color: #1e1e1e;
}

blockquote span {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin-right: 0.5rem;
  font-size: 2rem;
  vertical-align: middle;
  background-color: #383838;
  color: #75b7d1;
}

blockquote b {
  text-decoration: underline;
}

article.pause {
  text-align: center;
  border-top: 4px solid #f1f1f1;
  border-bottom: 4px solid #f1f1f1;
  background-image: url("../images/cafe.webp");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

article.pause h2 {
  border: none;
}

/* ------------------------------------------------------------------- HEADER */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  z-index: 9999;
  background-color: #2a1b0e;
  position: fixed;
  min-width: 100%;
  -webkit-box-shadow: 2px 0 5px #8a592e;
          box-shadow: 2px 0 5px #8a592e;
  border-bottom: 4px solid #f1f1f1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header > a {
  color: #f1f1f1;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

header > a:hover {
  color: #ecdaba;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  line-height: 54px;
}

header nav ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #f1f1f1;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: background-color 0.5s ease-out, color 0.8s ease-out;
  transition: background-color 0.5s ease-out, color 0.8s ease-out;
}

header nav ul li a:hover {
  background-color: #ecdaba;
  color: #8a592e;
  -webkit-transition: background-color 0.5s ease-in, color 0.8s ease-in;
  transition: background-color 0.5s ease-in, color 0.8s ease-in;
}

/* ------------------------------------------------------------------- MAIN */
main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "presentation presentation presentation" "menu container container" "menu footer footer";
  /* --------------------------------------------------- SECTION PRESENTATION */
  /* ----------------------------------------------------------- SECTION MENU */
  /* ------------------------------------------------------ SECTION CONTAINER */
}

main .presentation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: presentation;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .presentation h1 {
  color: #1e1e1e;
  text-align: center;
  font-size: 7rem;
  /* utilisation mixin */
  -webkit-filter: drop-shadow(1px 1px 3px #d8d8d8);
          filter: drop-shadow(1px 1px 3px #d8d8d8);
}

main .presentation > .text-flow {
  text-align: center;
  letter-spacing: 2.2px;
  color: #f1f1f1;
  font-size: 1.4rem !important;
  max-width: 55vw;
}

main #menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  max-width: 100%;
  background-color: #050505;
  border-right: 4px solid #f1f1f1;
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main #menu h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #8a592e;
}

main #menu nav {
  margin-top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
}

main #menu nav ol {
  color: #f1f1f1;
}

main #menu nav ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

main #menu nav ol li span {
  padding: 0 1rem;
}

main #menu nav ol li a {
  font-size: 1rem;
  color: #848484;
  text-decoration: none;
  display: block;
  min-width: 100%;
}

main #menu nav ol li:hover {
  cursor: pointer;
  background-color: #c78b57;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}

main #menu nav ol li:hover a {
  color: #1e1e1e;
}

main #menu nav ol ol {
  padding: 0.5rem 1rem;
  display: none;
}

main .container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: container;
  border: none;
}

main .container .base article.base__element {
  padding: 10rem 10rem;
  margin: 0;
}

main .container .base article.base__element:nth-child(odd) {
  background-color: #3e2714;
}

main .container .base article.base__element:nth-child(odd) dl {
  color: #f1f1f1;
  background-color: #1e1e1e;
}

main .container .base article.base__element:nth-child(even) {
  background-color: #1e1e1e;
}

main .container .base article.base__element section:nth-child(1n) {
  padding-top: 8rem;
  -webkit-text-decoration-color: #f1f1f1;
          text-decoration-color: #f1f1f1;
}

main .container .base article.base__element section:first-child {
  margin-top: 1rem !important;
}

main .container .base article.base__element section p {
  margin: 1rem;
}

main .container .base article.base__element:last-child {
  margin-bottom: 0;
}

#menu li#base + ol,
#menu li#positionnement + ol,
#menu li#zone + ol,
#menu li#gutters + ol {
  display: block;
}

/* compteur */
section#base {
  counter-reset: article_base;
}

section#base article {
  counter-increment: article_base;
}

section#base article h2 {
  /* J'affiche le compteur définit dans le body */
}

section#base article h2::before {
  content: "1." counter(article_base) " - ";
}

section#positionnement {
  counter-reset: article_positionnement;
}

section#positionnement article {
  counter-increment: article_positionnement;
}

section#positionnement article h2:before {
  content: "2." counter(article_positionnement) " - ";
}

section#zone {
  counter-reset: article_zone;
}

section#zone article {
  counter-increment: article_zone;
}

section#zone article h2:before {
  content: "3." counter(article_zone) " - ";
}

section#gutters {
  counter-reset: article_gutters;
}

section#gutters article {
  counter-increment: article_gutters;
}

section#gutters article h2:before {
  content: "4." counter(article_gutters) " - ";
}

/* ------------------------------------------------------------------- FOOTER */
footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: footer;
  min-height: 150px;
  background-color: #8a592e;
  color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  text-align: center;
  line-height: 75px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 3rem;
}

footer span q b {
  color: #2a1b0e;
}

/* ------------------------------------------------ Couleur de fond container */
.container {
  background-color: #1e1e1e;
  border: 2px solid #f1f1f1;
}

/* ------------------------------------------------------- contenu du block-x */
.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8 {
  font-size: 1.4em;
  letter-spacing: 0.3px;
  border: 2px solid #f1f1f1;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-1 b,
.block-2 b,
.block-3 b,
.block-4 b,
.block-5 b,
.block-6 b,
.block-7 b,
.block-8 b {
  color: #1e1e1e;
}

/* ------------------------------------------------------ couleurs containers */
.block {
  background-color: #1e1e1e;
  border: 2px solid #1e1e1e;
}

.block-1 {
  background-color: #75b7d1;
}

.block-2 {
  background-color: #827AD3;
}

.block-3 {
  background-color: #cf2727;
}

.block-4 {
  background-color: #53d47c;
}

.block-5 {
  background-color: #d38caf;
}

.block-6 {
  background-color: #d6b06a;
}

.block-7 {
  background-color: #cf8207;
}

.block-8 {
  background-color: #3888a8;
}

/* ----------------------------------------------------------- 1 GRID SYSTEM */
/* 1. display grid */
.container.display-grid .block-1,
.container.display-grid .block-2 {
  display: -ms-grid;
  display: grid;
  margin: 1em;
}

/* ---------------------------------------------- 1.2. GRID-TEMPLATE-COLUMNS */
/* 1.2.1. grid-template-columns "pixel" */
.grid-template-columns-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 120px 180px 120px 60px;
      grid-template-columns: 60px 120px 180px 120px 60px;
}

/* 1.2.2. grid-template-columns "pourcentage" */
.grid-template-columns-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 15%;
      grid-template-columns: 25% 50% 15%;
}

/* 1.2.3. grid-template-columns: "fraction" */
.grid-template-columns-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 0.5fr 1fr;
      grid-template-columns: 1fr 2fr 0.5fr 1fr;
}

/* 1.2.4. grid-template-columns "repeat()" */
.grid-template-columns-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

/* 1.2.5. grid-template-columns "mixte de tout" */
.grid-template-columns-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% (1fr)[2] 2fr 60px;
      grid-template-columns: 15% repeat(2, 1fr) 2fr 60px;
}

/* ---------------------------------------------- 1.3. GRID-TEMPLATE-ROWS */
/* 1.3.1. grid-template-rows "pixel" */
.grid-template-rows-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 70px 50px 70px 50px;
      grid-template-rows: 50px 70px 50px 70px 50px;
}

/* 1.3.2. grid-template-rows "pourcentage" */
.grid-template-rows-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 20% 20%;
      grid-template-rows: 25% 25% 20% 20%;
}

/* 1.3.3. grid-template-rows "fraction" */
.grid-template-rows-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

/* 1.3.4. grid-template-rows "repeat()" */
.grid-template-rows-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

/* 1.3.5. grid-template-rows "mixte de tout" */
.grid-template-rows-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px (70px)[2] 1fr 10%;
      grid-template-rows: 100px repeat(2, 70px) 1fr 10%;
}

/* ------------------------------------------------------- 1.4. GRID-TEMPLATE */
/* les bases 1.4-1. grid-template "exemple 1" */
.grid-template-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: 3fr 2fr 1fr;
      grid-template: repeat(2, 1fr)/3fr 2fr 1fr;
}

/* les bases 1.4-2. grid-template "exemple 2" */
.grid-template-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(3, 1fr)/repeat(6, 1fr);
}

/* ---------------------------------------------------------------- 1.5. GRID */
/* les bases 1.5-1. grid "exemple 1" */
.grid-1 {
  height: 200px;
  display: -ms-grid;
  display: grid;
  grid: 120px 1fr / 25% 50% 25%;
}

/* les bases 1.5-2. grid "exemple 2" */
.grid-2 {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 100px)/200px repeat(3, 1fr);
}
/*# sourceMappingURL=grid.css.map */